body {
    background: #f0f2f5;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#greeting {
    margin-bottom: 10px;
    font-size: 24px;
}

#date {
    margin-bottom: 20px;
    font-size: 18px;
    color: #555;
}

.checklist {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.checklist label {
    background: #ffffff;
    padding: 10px 14px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.checklist label:hover {
    background: #eef4ff;
}

input[type="checkbox"] {
    transform: scale(1.3);
}

/* Numbered list style */
.number-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 600;
    padding: 10px 12px;
    border-radius: 8px;
    transition: 0.3s ease;
}

.number-item:hover {
    background: #eef4ff;
    transform: translateX(5px);
}

.number-item .num {
    font-weight: 700;
    color: #004aad;
    font-size: 17px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 1s ease-in-out;
    transform: translateY(100vh);
    opacity: 0;
}

.card.visible {
    transform: translateY(0);
    opacity: 1;
}

#total-price {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

#btn {
    margin-top: 20px;
}

#copy-message {
    display: none;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .card {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
        padding: 10px;
    }
}
